/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define AS(keycode) &ht LS(keycode) keycode

#define DEFAULT 0
#define COLEMAK 1
#define NUMSYM  2
#define NAV     3
#define MEDIA   4
#define MOUSE   5


&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};


/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };

        td_ht_edc: tap_dance_hold_tap_equal_dot_comma {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&ht EQUAL DOT>, <&kp COMMA>;
            tapping-term-ms = <200>;
        };

        td_ht_stc: tap_dance_hold_tap_shift_tab_caps {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&ht LSHIFT TAB>, <&kp CAPS>;
            tapping-term-ms = <200>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  '  |
// |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |
//             |     | TAB | BSP |     | SPC | RET | ESC |
            bindings = <
    &kp Q          &kp W          &kp E          &kp R          &kp T             &kp Y          &kp U          &kp I          &kp O          &kp P
    &hml LCTRL A   &hml LALT S    &hml LGUI D    &hml LSHIFT F  &kp G             &kp H          &hmr RSHIFT J  &hmr RGUI K    &hmr RALT L    &hmr RCTRL SQT
    &kp Z          &kp X          &kp C          &kp V          &kp B             &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH
                                  &mo MOUSE      &td_ht_stc     &lt NUMSYM BSPC   &lt NAV SPACE  &lt MEDIA RET  &kp ESC
            >;
        };

        colemak_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |     |  J  |  L  |  U  |  Y  |  '  |
// |  A  |  R  |  S  |  T  |  G  |     |  M  |  N  |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  D  |  V  |     |  K  |  H  |  ,  |  .  |  /  |
//             | ESC | BSP | RET |     | TAB | SPC |  ;  |
            bindings = <
    &kp Q          &kp W          &kp F          &kp P          &kp B             &kp J          &kp L          &kp U          &kp Y          &kp SQT
    &mt LCTRL A    &mt LALT R     &mt LGUI S     &mt LSHIFT T   &kp G             &kp M          &mt RSHIFT N   &mt RGUI E     &mt RALT I     &mt RCTRL O
    &kp Z          &kp X          &kp C          &kp D          &kp V             &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH
                                  &kp ESC        &lt MOUSE RET  &lt NUMSYM BSPC   &lt NAV SPACE  &lt MEDIA TAB  &kp SEMI
            >;
        };

        numsym_layer {
// -----------------------------------------------------------------------------------------
// |  *  |  7  |  8  |  9  |  +  |     |  \  |  (  |  )  |  <  |  >  |
// |  0  |  4  |  5  |  6  |  .  |     |  :  |  =  |  _  |  "  |  #  |
// |  /  |  1  |  2  |  3  |  -  |     |  ;  |  [  |  ]  |  &  |  |  |
//             |     |     |     |     | SPC | RET |  `  |
            bindings = <
    &kp STAR       &kp N7         &kp N8         &kp N9         &PLUS             &kp BSLH       &kp LPAR       &kp RPAR       &kp LT         &kp GT
    &ht RET N0     &kp N4         &kp N5         &kp N6         &td_ht_edc        &kp COLON  &hmr RSHIFT EQUAL  &hmr RGUI UNDER  &hmr RALT DQT  &hmr RCTRL HASH
    &kp FSLH       &kp N1         &kp N2         &kp N3         &kp MINUS         &kp SEMI       AS(LBKT)       AS(RBKT)       &kp AMPS       &kp PIPE
                                  &none          &none          &trans            &kp SPACE      &kp RET        AS(GRAVE)
            >;
        };

        nav_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |PG_UP|HOME | UP  | END | INS |
// |CTRL | ALT | GUI |SHFT |     |     |PG_DN|LEFT |DOWN |RIGHT| DEL |
// |     |     |     |     |     |     | CUT | CPY | PST |UNDO |REDO |
//             |     | CMK |CAPS |     |     |     |     |
            bindings = <
    &none          &none          &none          &none          &none             &kp PG_UP      &kp HOME       &kp UP         &kp END        &kp INS
    &kp LCTRL      &kp LALT       &kp LGUI       &kp LSHIFT     &none             &kp PG_DN      &kp LEFT       &kp DOWN       &kp RIGHT      &kp DEL
    &none          &none          &none          &none          &none             &kp K_CUT      &kp C_AC_COPY  &kp K_PASTE    &kp K_UNDO     &kp C_AC_REDO
                                  &none          &tog COLEMAK   &none             &trans         &none         &none
            >;
        };

        media_layer {
// -----------------------------------------------------------------------------------------
// | F1  | F2  | F3  | F4  | F5  |     |     |     |DP_DN|DP_UP|     |
// | F6  | F7  | F8  | F9  | F10 |     |     |MUTE |V_DN |V_UP |     |
// | F11 | F12 | F13 | F14 | F15 |     |     | P/P |PREV |NEXT |     |
//             |     |     |     |     |     |     |     |
            bindings = <
    &kp F1         &kp F2         &kp F3         &kp F4         &kp F5            &none          &none          &kp C_BRI_DN   &kp C_BRI_UP   &none
    &kp F6         &kp F7         &kp F8         &kp F9         &kp F10           &none          &kp C_MUTE     &kp C_VOL_DN   &kp C_VOL_UP   &none
    &kp F11        &kp F12        &kp F13        &kp F14        &kp F15           &none          &kp C_PP       &kp C_PREV     &kp C_NEXT     &none
                                  &none          &none          &none             &none          &trans         &none
            >;
        };

        mouse_layer {
// -----------------------------------------------------------------------------------------
// | BT1 | BT2 | BT3 | BT4 |BTCLR|     |SC_UP|SC_L | MUP |SC_R |     |
// |CTRL | ALT | GUI |SHFT |     |     |SC_DN|MLEFT|MDOWN|MRGHT|     |
// |     |     |     |     |     |     | CUT | CPY | PST |UNDO |REDO |
//             |     |     |     |     |LCLK |MCLK |RCLK |
            bindings = <
    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_CLR        &msc SCRL_UP   &msc SCRL_LEFT &mmv MOVE_UP  &msc SCRL_RIGHT &none
    &kp LCTRL      &kp LALT       &kp LGUI       &kp LSHIFT     &none            &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none
    &none          &none          &none          &none          &none             &kp K_CUT      &kp C_AC_COPY  &kp K_PASTE    &kp K_UNDO     &kp C_AC_REDO
                                  &trans         &none          &none             &mkp LCLK      &mkp MCLK      &mkp RCLK
            >;
        };
    };
};